<.header>
  Edit Production Company <%= @production_company.id %>
  <:subtitle>Use this form to manage production company records in your database.</:subtitle>
</.header>

<.production_company_form changeset={@changeset} action={~p"/productioncompanies/#{@production_company}"} studios={@studios} />

<.back navigate={~p"/productioncompanies"}>Back to production companies</.back>
