<.header>
  Edit Studio <%= @studio.id %>
  <:subtitle>Use this form to manage studio records in your database.</:subtitle>
</.header>

<.studio_form changeset={@changeset} action={~p"/studios/#{@studio}"} executives={@executives} producers={@producers} />

<.back navigate={~p"/studios"}>Back to studios</.back>
